/* COMNTENT */
/* -Aside */
div#content {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding-top: 300px;
    justify-content: center;
    width:unset;
    max-width: 1903px;
    }

 #content > div{margin-left: unset;margin-right: unset;flex-basis: 930px;}

 
/* THE ASIDE */
aside{width: 239px; border: 2px solid #c5c7c6; display: inline-flex; margin-top: 174px;}


#content .name + .flexslider {
    margin-top: 92px;
}

#content .flexslider ul.slides > li {
    flex-basis: 208px;
}
#content .flexslider ul.slides > li > div>div{max-wiedth:unset;}

#content .flexslider ul.slides > li div.tovar {
    width: inherit;
}

#content > div#catalog > section {
    margin-left: 2.3%;
}

#content .flexslider ul.slides > li div.rating span.active.zvezda, #content .flexslider ul.slides > li div.rating .zvezda {width: 20px;height: 20px;background-size: 18px 18px;}

/* -Filters to The new product The liader product The Action on product */
div#aside {
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    width: inherit;
}

#aside > ul {
    display: flex;
    flex-direction: column;
    flex-basis: 149px;
    gap: 1px;
}

li.sociality > input[type="botton"] {
    padding: 8px 5px 7px 26px;
    font-size: 1.5333em;
    color: #010101;
    margin-left: 17.4px;
    margin-bottom: 8px;
    background: #c5b59b;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 300;
    border: 0;
    width: 191px;
}

li.sociality:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-color: #fff;
    border-style: dashed;
    border-width: 2px 55px 46px 1px;
    clip-path: polygon(0px -1px, 36px 20.9px, -7px 47px, 81px 103px, 61px 0px);
}

ul#technical-data-filtr {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    align-items: stretch;
    width: inherit;
}
li.technical {
    margin-bottom: 15px;
}
li.technical:last-child {
    margin-bottom: 11px;
}
ul#technical-data-filtr .technical > div {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 4px;
}

.technical > div h3 {
    font-size: 1.166667em;
    font-family: 'Open Sans';
    color: #989898;
    display: inline-block;
    margin-left: 21px;
    width: 197px;
    padding-bottom: 3px;
    cursor: pointer;
}



.technical > div h3.active-filtr-h3:after {
    content: '';
    position: absolute;
    right: 10px;
    top: 3px;
    background: #737373;
    width: 15px;
    height: 11px;
    clip-path: polygon(0px 8.2px, 7.7px 0 ,15px 8.4px, 15px 10px, 8px 2.1px, 0 10px);
}

.technical > div h3.active-filtr-h3:before{display:none;}
.technical > div h3:before {
	display:unset;
    content: '';
    position:absolute;
    width: 16px;
    height: 11px;
    background: #737373;
    right: 10px;
    top: 6px;
    clip-path: polygon(8px 8.5px, -1px 1px, 0px 1px, 7.7px 6.8px, 17.8px -1px);
}

ul#technical-data-filtr .technical > div div {
    display: flex;
}

.technical > div h3 {
    border:0px;
    border-bottom: 1px solid rgb(210 204 218);
    padding-bottom: 7px;
}

.technical > div ul{
    flex-direction: column;
}

brand {
    padding: 20px 0 0;
	
}

.technical > div ul{margin-left: 20px;margin-right: 20px;}

.technical > div ul.active-filtr li {
    border: 0;
    font-size: 1.1666em;
    color: rgb(135 134 136);
    display: block;
	cursor:pointer;
}

.technical > div ul{display:none;}
.technical > div ul.active-filtr{display:unset;}
.technical > div ul.active-filtr li span:first-child{    display: inline-block;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #c5c7c6;
    margin: 15px 20px 0 3px;====}

.technical > div ul li.active-filtr-position span:first-child::before{display:block; content:'';position: absolute;background: rgb(33 33 33);width: 15px;height: 15px;clip-path: polygon(1px 4px, 8px 12px, 15px 1px, 15px 3px, 8px 14px, 8px 14px);}

span.number {
	display:inline-block;
    float: right;
	margin: 16px 8px 0 0px;
}

/* -Price filtr */
#price-filtr-block{
    display: flex;
    flex-direction: column;
}
.filtr-title.technical {}

.filtr-title.technical h3 {
    color: #444444;
    font-size: 1.16667em;
    display: unset;
}

#price-filtr-block {
    padding: 10px 0 0 12px;
}

div#filtr-form-range {margin: 46px 0 0px; z-index:1;}

div#filtr-form-range input#range-min {
    color: #bebebe;
    border: 0;
    /* -webkit-appearance:none; */
    background: transparent;
    outline: none;
	z-index:2;
}

/* - -filter slidel */
input[type=range] {
  height: 39px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 190.67px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #A6A6A6;
  background: #bebebee6;
  border-radius: 4px;
  border: 2px solid #bebebe;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #545454;
  border: 2px solid #545454;
  height: 22px;
  width: 8.5px;
  border-radius: 0px;
  background: #545454;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bebebe;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #A6A6A6;
  background: #bebebe;
  border-radius: 4px;
  border: 2px solid #bebebe;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #545454;
  border: 2px solid #545454;
  height: 22px;
  width: 8.5px;
  border-radius: 0px;
  background: #545454;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bebebe;
  border: 2px solid #bebebe;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #a6a6a6;
}
input[type=range]::-ms-fill-upper {
  background: #bebebe;
  border: 2px solid #bebebe;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #A6A6A6;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #545454;
  border: 2px solid #545454;
  height: 22px;
  width: 8.5px;
  border-radius: 0px;
  background: #545454;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #bebebe;
}
input[type=range]:focus::-ms-fill-upper {
  background: #bebebe;
}

