@viewport{width: device-width;}
#body, footer {/* max-width:1920px; */ margin:0 auto; min-width: 1170px;} 

/* sbros stilei */
* { box-sizing: border-box;  -moz-box-sizing: border-box;}
#body *{}
html, body, div, object, ifreine, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, addr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, ol, ul, li, fieldset, form, ladel, legent, table, caption, tbody, tfoot, thead, tr,  th, td, article, aside, canvas, details, embed, figure, figcapcion, footer,  header, hgroup, menu, var, output, ruby, time, mark, audio, video, select{margin:0; padding:0; border:0px; vertical-align:baseline;     box-sizing: content-box; -moz-sizing:content-box;  position: relative; vertical-align:top; font-family:'Open-Sans', 'Arial', 'sans-serif', 'Helvetica'; font-size: 12px;}

form, input, button{ box-sizing: content-box; }

div, article, aside, details, figcapcion, figure, footer, header, hgroup, menu, nav, section{display:block; border:0;}
body{line-height:1.2;}

table{border-collapse:collapse; border-spacing:0;}
ol{padding-left:0; list-style: decimal;}
ul{padding-left:0; list-style: square;}

blockquote,q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content: ''; content:none;}

ul li{list-style-type: none;}
*{zoom:1}

/* font */ 

@font-face {
    font-family: 'Open-Sans';
    src: url('/site/male-cosmetics/font/opensans/opensans.eot');
    src: url('/site/male-cosmetics/font/opensans/opensans.eot?#iefix') format('embedded-opentype'),
        url('/site/male-cosmetics/font/opensans/opensans.woff2') format('woff2'),
        url('/site/male-cosmetics/font/opensans/opensans.woff') format('woff'),
        url('/site/male-cosmetics/font/opensans/opensans.ttf') format('truetype'),
        url('/site/male-cosmetics/font/opensans/opensans.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal; 
	
    font-family: 'opensans-light';
    src: url('/site/male-cosmetics/font/opensans-light/opensans-light.eot');
    src: url('/site/male-cosmetics/font/opensans-light/opensans-light.eot?#iefix') format('embedded-opentype'),
        url('/site/male-cosmetics/font/opensans-light/opensans-light.woff2') format('woff2'),
        url('/site/male-cosmetics/font/opensans-light/opensans-light.woff') format('woff'),
        url('/site/male-cosmetics/font/opensans-light/opensans-light.ttf') format('truetype'),
        url('/site/male-cosmetics/font/opensans-light/opensans-light.svg#opensans-light') format('svg');
    font-weight: 300;
    font-style: normal;

	font-family: 'axpadvergothicc';
    src: url('/site/male-cosmetics/font/axp/axpadvergothicc.eot');
    src: url('/site/male-cosmetics/font/axp/axpadvergothicc.eot?#iefix') format('embedded-opentype'),
        url('/site/male-cosmetics/font/axp/axpadvergothicc.woff2') format('woff2'),
        url('/site/male-cosmetics/font/axp/axpadvergothicc.woff') format('woff'),
        url('/site/male-cosmetics/font/axp/axpadvergothicc.ttf') format('truetype'),
        url('/site/male-cosmetics/font/axp/axpadvergothicc.svg#axpadvergothicc') format('svg');
    font-weight: 300;
    font-style: normal;
	
	
	font-family: 'Oswald';
    src: url('/site/male-cosmetics/font/oswald-light/oswald.eot');
    src: url('/site/male-cosmetics/font/oswald-light/oswald.eot?#iefix') format('embedded-opentype'),
        url('/site/male-cosmetics/font/oswald-light/oswald.woff2') format('woff2'),
        url('/site/male-cosmetics/font/oswald-light/oswald.woff') format('woff'),
        url('/site/male-cosmetics/font/oswald-light/oswald.ttf') format('truetype'),
        url('/site/male-cosmetics/font/oswald-light/oswald.svg#oswald') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
	
	font-family: 'Oswald-Medium';
    src: url('/site/male-cosmetics/font/oswald-medium/oswaldmedium.eot');
    src: url('/site/male-cosmetics/font/oswald-medium/oswaldmedium.eot?#iefix') format('embedded-opentype'),
        url('/site/male-cosmetics/font/oswald-medium/oswaldmedium.woff2') format('woff2'),
        url('/site/male-cosmetics/font/oswald-medium/oswaldmedium.woff') format('woff'),
        url('/site/male-cosmetics/font/oswald-medium/oswaldmedium.ttf') format('truetype'),
        url('/site/male-cosmetics/font/oswald-medium/oswaldmedium.svg#oswaldmedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
	
	font-family: 'plumblight';
    src: url('/site/male-cosmetics/font/plumb-light/plumblight.eot');
    src: url('/site/male-cosmetics/font/plumb-light/plumblight.eot?#iefix') format('embedded-opentype'),
        url('/site/male-cosmetics/font/plumb-light/plumblight.woff2') format('woff2'),
        url('/site/male-cosmetics/font/plumb-light/plumblight.woff') format('woff'),
        url('/site/male-cosmetics/font/plumb-light/plumblight.ttf') format('truetype'),
        url('/site/male-cosmetics/font/plumb-light/plumblight.svg#plumblight') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


