/* shapka saita */
#body {width:100%;}
#header, #menuTop div{/* height: 210px; */display: block;margin: auto;/* padding-bottom: 252px; */}



/* HEADER */
/* The logo */
div.logo { display: block; height: 184px; width: 11.6239316%; float: left; background: no-repeat center / contain url(/site/male-cosmetics/img/logo.png); }
div.logo a {display: block; height: inherit;}


/* Block menu, title, search */
div.logo + div { height: inherit; width: 56.8376068%; max-width: 665px;  display: inline-block; float: left;}

.menu {text-align:center;margin-top: 21px;}
.menu ul li{display:inline-block;margin: 0 1.903759%;} 
.menu ul li a {font-size:1.166666em; text-align:center; padding: 0 2px; text-decoration:none; color:#252422;} 
.menu ul li a:hover{text-decoration:underline;}
#header .menu+div{margin-top: 27px; text-transform: uppercase; margin-bottom: 35px;}

#header section div{text-align: center; margin-top: 26px;}
#header section div h1 { font-family: 'Oswald'; font-weight: unset; font-size: 208.333%; color: #645d6f; text-transform: uppercase; font-weight: revert; margin-top: 5px;}
#header section div h2{ font-size: 116.66666%; color:#252422; margin-top: 5px; font-weight: unset;}


/* form search */
#header div .form{ max-width: 570px; width: initial; height: 37px; float:none; margin: 0 auto; border: 1px solid #e4e4e4; margin-top: 33px;     position: relative;}
#header div .form div{height:35px; max-width: inherit;}
#header div .form #form-text{}
#header div .form  #form-text input[type='text'] { display: block; max-width: 565px; border: 0; height:100%; width: 100%; box-sizing: border-box; padding-left:14px; font-size:116.6666%;}
#header div  #form-bottom{display:none;}

/* geo-address */
#header > address{width: 369px; float:right; }
#header > #geo > div:first-child {    margin: 0 auto; float: left; display: inline-block; margin-top: 18px;}
#header > #geo > div div:first-child{ display:inline-block; width: 184px;}


#header div.geo, #header div.comein {width: 184px;display: inline-block;float: left;margin-top: 18px;}
#header div.geo>div, #header div.comein > div{display:inline-block; float:none;clear:both;}
#header div.geo div:first-child { display: inline-block; float:right;}
#header div.geo div div:last-child { background: no-repeat center url(/site/male-cosmetics/img/icon_geo.png); width: 24px; height: 23px; display: inline-block; float: right;}
select#rassian-city, #out{font-size:1.166666em; color:#252422;  }
select#rassian-city {border: 0; width: 112px;  display: inline-block; float: right; padding-top:3px;}

#header .tel {margin-top: 22px;color: #252422;font-family: 'Oswald-Medium';font-size: 22px;text-align: left;font-weight: bolder;font-style: normal;letter-spacing: -0.32px;} /* number telephone*/
#header div.comein.top .tel { width: inherit; text-align: center; }
#header div.comein.top .tel { width: inherit; text-align: center; }

#header #time > dive, #header #time > div * {color:#252422; font-size:1.166666em; text-align:center;}
#header div.comein div > div:first-child {     display: inline-block; background: no-repeat center url(/site/male-cosmetics/img/icon_exit.png); width: 24px; height: 23px; }

#header > div:first-child{ /* clear: both; float: none; */font-size: 1.166666em; color: #252422; margin-top: 7px; letter-spacing: 0px;}

#header #time > div, #header #time span { float: none; clear:both; display: inline-block; font-size: 1.166666em; color: #252422; margin-top: 7px; letter-spacing: 0px;}
#header #time span { text-align: center; width: 10px;}

/* Select your city*/
#header div.geo > div:last-child, #header div.comein > div:last-child, #menuTop, #content .flexslider ul.slides > li > div>div:last-child {background-color: #645d6f;}
#header div.geo > div:last-child, #header div.comein > div:last-child, #content .flexslider ul.slides > li > div>div:last-child { display: inline-block; width: 169px; height: 34px; text-align: center;      margin-top: 29px;}
#header div.comein > div:last-child  { margin-top: 36px; display: block; float: right;}

div.geo .botm a, div.comein > div:last-child a { display: inline-block; width: inherit; height: inherit; padding-top: 7px; padding-right: 10px; box-sizing: border-box; background: no-repeat url(/site/male-cosmetics/img/icon_karzina.gif) 9% 45% / 10% 51%; }
div.comein > div:last-child {background: no-repeat url(/site/male-cosmetics/img/icon_phone.gif) 9% 45% / 10% 51%; }
div.geo .botm a span, div.comein > div:last-child a, #content .flexslider ul.slides > li > div>div:last-child a { color: #ffffff; font-size: 1.16666em;  font-style: normal; }
div.comein > div:last-child a { margin-left: 16px; background: none; text-decoration: none;}
div.geo .botm a span:first-child{display: inline-block; margin-left: 31px;}
div.geo .botm a span:last-child{ display: inline-block; float: right; width: 19px; height: 19px; background-color: #fff; color: #000; border-radius: 10px 10px; }



/* In come to your account */
#out { background: none; margin: 0; width: auto; height: auto;     display: inline-block; vertical-align:-webkit-baseline-middle;}
#header address  div.geo.top + div.comein.top > div:first-child{ display: inline-block; width: 111px; }
#header div.comein > div:first-child{float: right;}
#header div.geo div#time div:last-child {background:none;} 

#header div.comein > div > div {display: inline-block;}
#header div.comein > div:nth-child(3) {width: inherit; text-align: center; font-size: 1.166666em; margin-top: 7px; padding-left: 18px; box-sizing: border-box; font-style: normal;}

#header nav {clear: both;}


