/* THE MENU TOP */
#menuTop {float:none;clear: both;height:62px;box-sizing:border-box;}
#menuTop {resize:horizontal;min-width: 1170px;}
#menuTop > div {height: inherit;padding-top: 22px;box-sizing: border-box;text-align: center;}
#menuTop a{font-family: 'Oswald';font-size: 1.333333em;text-transform: uppercase;color: #fff;text-decoration: none;line-height: 1.2;font-weight: normal;}

#menuTop div > ul{display: flex;flex-direction: row;align-content: flex-start;justify-content: space-between;border: 0;align-items: flex-start;}
#menuTop > div > ul > li {margin: auto 10px;/* display: inline-block; */border: 0; padding-bottom: 21px;}
#menuTop div > ul li:first-child {margin-left: 0;}


/* >THE SUBMENU */
#submenu{position:static;}
#submenu div .submenu{width:auto;padding-top: 40px;margin-left: 21px;}
#submenu >a + div {display: none;}
#submenu:focus >a + div, #submenu:hover >a + div {display: flex;flex-direction: row;width: inherit;margin-top: 21px;background-color: rgb(197, 181, 155);max-width: 1170px;width:100%;position:absolute;z-index: 2;}
#submenu:focus .submenu ul, #submenu:hover .submenu ul{display: flex;flex-direction: column;} 
#submenu:focus .submenu ul li, #submenu:hover .submenu ul li{display: block;float: none;clear: both;margin: 0 0 10.98px 0;}
#submenu:focus .submenu ul li figure, #submenu:hover .submenu ul li figure { display: flex; flex-direction: row;}
#submenu:focus .submenu ul li figure img, #submenu:hover .submenu ul li figure img { z-index: 30; width: 26px; height: 25px;} 
#menuTop #submenu div .submenu ul li figure figcaption { padding-left: 16px;}
#menuTop #submenu div .submenu ul li figure figcaption a {font-family: 'Open Sans';text-transform: inherit;letter-spacing: -0.8px;}

/* CONTENT */
#content {width: inherit;}
/* #content #slider{background-color: #8b6b59;height: 506px;} */
#content #slider section {height: inherit;}

#content #slider > div { background-image: -wedkit-gradient(radial. #d0b398, #8b6b59);}
#content #slider > div  { background-image: -wedkit-radial-gradient(#d0b398, #8b6b59);}
#content #slider > div { background-image: radial-gradient(#d0b398, #8b6b59);}
#content #slider  > div {height: inherit; background: no-repeat radial-gradient(#d0b398 10%,#8b6b59 70%);     background-position: -470px -9px;}
									/* background: radial-gradient(#e66465, #9198e5); */
									
/* THE CONTETN BLOCK IN CENTRE*/
#header, #menuTop div, #content > div, #content #beard {width: 1170px;margin: 0 auto;}

div#header {display: flex;flex-direction: row;padding-bottom: 24px;}

/* >SLIDER */
#content > div#slider {max-width: 1920px; width: 100%; height: 511px; background: no-repeat  url(/site/male-cosmetics/img/perfumer.png) center top;border: 0;}
#content .flexslider >* {text-align:center;}
#content .flexslider > h2{font-size:4.8416em; color:#252422;}

#content .flexslider .slideshow-container {     height: inherit;}


/* >BLOCKS */
#content div#hit{margin-top: 75px;}
#content div#action{margin-top: 66px;} 
#content div#new{margin-top: 70px;}
#content div#brand{margin-top: 144px;}
#content div#video {margin-top: 137px;padding-top: 60px;}
#content div.name > h2 {text-align: center;}
#content div.name > h2{color:#252422;font-family: 'Oswald';font-weight: 500;font-size: 5.66666em;font-style: normal;letter-spacing: 1.3px;}
#content .flexslider{padding-top: 0px;margin: 0 auto;max-width: 1170px;height: 100%;height: -moz-available;height: -webkit-fill-available;height: fill-available;overflow: hidden;}
#content .name + .flexslider {
    margin-top: 53px;
}
#content #new .flexslider{padding-top: 8px;}

#content .flexslider ul.slides > li {display: inline-block;border: 2px solid #c5c7c6;width: 272.3px;margin-left: 23.6px;position: relative;box-sizing: border-box;}
#content .flexslider ul.slides > li:first-child{margin-left:0;}
#content .flexslider ul.slides > li > div {box-sizing: border-box; width:inherit; text-align:center; padding-bottom: 24px;}

/* >HITS TO THE SELLS */
/* The rating */
#content .flexslider ul.slides > li div.rating {    margin-top: 0; vertical-align: top; height: 67px; box-sizing: border-box; text-align: left;}
#content .flexslider ul.slides > li div.rating > div {display: inline-flex; margin-left: 16px; margin-top: 16px; text-align: left; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start;}
#content .flexslider ul.slides > li > div>div { width: inherit; max-width: 271px; display: inline-block; }
#content .flexslider ul.slides > li div.rating span.active.zvezda{background:no-repeat url(/site/male-cosmetics/img/hit.png);}
#content .flexslider ul.slides > li div.rating .zvezda{background:no-repeat url(/site/male-cosmetics/img/hit_0.png); width: 19px; height: 21px; display: inline-block; margin: 0; padding: 0; border: none;}
#content .flexslider ul.slides > li div.rating > div:nth-child(2) {margin-left: 15.7px; padding-top: 4px; font-size: 1.19em; font-style: normal; font-weight: lighter;}
#content .flexslider ul.slides > li div.rating > div:nth-child(3){ height: inherit; margin-top: 0; margin-left: 32.7px; width: 53px; padding-top: 16px; padding-left: 6px;}
#content .flexslider ul.slides > li div.rating > div:nth-child(3) span.active:before{content: 'ХИТ';font-size: 20px;font-size:1.593333em;font-style:normal;font-weight: normal;vertical-align: super;text-transform: uppercase;}
#content .flexslider ul.slides > li div.rating > div.hit-flag{background:no-repeat url(/site/male-cosmetics/img/flag.png);z-index: -100;}

#content .flexslider ul.slides > li div.rating > div.hit-flag span {color: #000000; z-index: 10;}
	
/*  The product */
#content .flexslider ul.slides > li > div, #content .flexslider ul.slides > li > div>div{float: none; clear: both;}
#content #new .flexslider ul.slides > li div.rating > div:nth-child(3) span.active:before{content: "new"} /* The new product block */
#content #action .flexslider ul.slides > li div.rating > div:nth-child(3) span.active:before{content:"%"} /* The action on the products */

#content .flexslider ul.slides > li div.tovar {text-align:center;top: -3px; padding: 6px 0;}
#content #action .flexslider ul.slides > li div.tovar {margin-top: 21px;height: 230px;width: inherit;}
#content .flexslider ul.slides > li div.tovar img{ width: inherit;}

#content #action .flexslider ul.slides > li div.tovar {}
/* The title */
#content .flexslider ul.slides > li > div>div.title{text-align: center;margin-top: 18px;margin-bottom:17px; vertical-align: bottom;}

#content #new .flexslider ul.slides > li > div>div.title {
    margin-top: 21px;
}
#content #action .flexslider ul.slides > li > div>div.title{margin-bottom: 15px;margin-top: 10px;}
#content .flexslider ul.slides > li > div>div.title h4 { font-size: 2em; color: #251718; font-family: 'Oswald'; }

/* The brand and comment before a price */
#content #brand .flexslider {margin-top: 81px;}
#content .flexslider ul.slides > li > div > div.brand, #content .flexslider ul.slides > li > div > div.text{font-size: 1.5em;font-style: normal;line-height: 1.3;letter-spacing: 0.4px;position: inherit;color: #000000; vertical-align: bottom;}


#content #brand .name + .flexslider ul.slides {display: flex; width: inherit;}
#content #brand .name + .flexslider ul.slides > li{border: 0; width: 190px; margin-left:40px;}
#content #brand .name + .flexslider ul.slides > li:first-child{margin-left: 0;}

/* The product's price */
#content .flexslider ul.slides > li > div > div.price {margin-top: 9px;     vertical-align: bottom;}
#content .flexslider ul.slides > li > div > div.price> span{ color: #251718; font-size: 2.095em; font-weight: bolder; font-family: 'Oswald'; font-style: normal; letter-spacing: 2px;}
#content .flexslider ul.slides > li > div>div.price> span:last-child { margin-left: 3px;}

#content .flexslider ul.slides > li > div>div:last-child{margin-top: 24px;width: 179px;height: 46px;  vertical-align: bottom;}

#content #action .flexslider ul.slides > li > div>div:last-child {
    margin-top: 26px;
}
#content #new .flexslider ul.slides > li > div>div:last-child{margin-top: 22px;}
#content #brand .flexslider ul.slides > li > div>div:last-child {background: none; display: block; margin-top: 60px; width: inherit; padding-top: 0; height: inherit;}
#content .flexslider ul.slides > li > div>div:last-child a {font-size: 1.5em;display: inline-block;width: inherit;height: inherit;padding-top: 13px;}

/* >THE BLOCK'S NAME A WHY  */
#content div#why{margin-top: 105px;text-align: center;}  
#content #why .flexslider {padding-top: 7px;}

#content #why .flexslider ul li {display: inline-block;margin-left: 38px;width: 199px;height:350px;}
#content #why .flexslider ul li:first-child { margin-left: 0;}
#content #why .flexslider ul li > div{ width: 210px; height: 220px; }
#content #why .flexslider ul li div:last-child {margin-top: 7px;text-align: center;}
#content #why .flexslider ul li div:last-child h5 {color: #252422;font-size: 1.83333em;font-family: 'Oswald';font-weight: 500;letter-spacing: 1.5px;}


/* >THE VIDEO ON THE HOME PAGE */
#content #video {width: inherit;max-height: 941px;height: 958px;background: no-repeat url(/site/male-cosmetics/img/homVideo.jpg);}
#content #video .name{}


/* >THE INFORMATION BEARD */
#content #beard{padding-top: 115px;padding-bottom: 5.2527%;}
#content #beard .name {width: 74.432478%;margin: 0 auto;}
#content #beard .name + div {text-align: center;width: 916px;margin: 52px auto 0 auto;}
#content #beard .name h2 {color: rgb(37 36 34);font-size: 5.66766em;letter-spacing: 0.6pt;font-family: 'Oswald';font-weight: 500;letter-spacing: 1.5px;}
#content #beard .name + div > p {font-size: 1.5em;color: rgb(37 36 34);letter-spacing: 1.4pt;line-height: 30px;}

/* >>The button 'The more to know' */
#content #beard div:last-child{margin-top: 44px;text-align: center;}
#content #beard div:last-child a {display: inline-block;width: 237px;box-sizing: border-box;padding-top: 14px;font-family: 'Open Sans';font-style: normal;font-size: 2.081667em;text-decoration: none;padding-bottom: 14px;color: rgb(254 254 254);}


/* >> The question's form  at the down the page above footer */
#content #video + section > div:last-child {text-align: center;padding-top: 44px;background: no-repeat url(/site/male-cosmetics/img/searchFormAboutFotter_1920.jpg) center 0;padding-bottom: 63px;margin: 0 auto;max-width: 1920px;}
#content #video + section div:last-child p.kosmetika {font-size: 2em;text-transform: uppercase;color: rgb(225 225 225);}

#content #video + section > div:last-child #question { padding-top: 33px;}
#content #video + section > div:last-child #question > div {padding: 0px 0 19px 0;width: 694px;display: inline-block;z-index: 10000;/* background: no-repeat url(/site/male-cosmetics/img/kasper.png) 12px 0px; */}
#content #video + section > div:last-child #question > div object[data$="kasper.svg"]{display: inline-block; float: left; left: 11px;}

#content #video + section > div:last-child #question div#form-text_02 {padding-top: 32px;width: auto;position: relative;}
#content #video + section > div:last-child #question div#form-text_02 input {display: inline-block;margin: 0 auto;width: 471px;height: 44px;float: right;box-sizing: border-box;padding-left: 23px;color: rgb(0 0 0);font-size: 1.5em;border: 0;}

#content #video + section > div:last-child #question div#form-text_02 button {float: right;height: 42px;width: 86px;display: inline-block;background-color: rgb(197 181 155);border: 0;}

#content #video + section > div:last-child #question div#form-text_02 button object {}
#content #video + section > div:last-child #question div#form-text_02 object[data$='konvert.svg'] { position: absolute; right: 33px; bottom: -35px; }

/* THE FOOTER */
footer{ background-color: rgb(197 199 198); }
#footer{ float: none; clear: both; max-width: 1170px; margin: 0 auto; }

div#footer #ftr {display: inline-block;width: 100%;padding-bottom: 13px;border-bottom: #252422 1px solid;margin-bottom: 13px;}
div#footer #ftr .logo { width: 136px; height: 153px; margin-top: 104px; margin-left: 21px; }
div#footer #ftr #footer-menu {padding-top: 69px;margin-left: 61px;width: 80.94017%;max-width: 947px;}
div#footer #ftr #footer-menu > div:first-child {position: relative;width: 630px;display: inline-block;}

div#footer #ftr #footer-menu h4 {color: #252422; font-size: 2em; font-family: 'Oswald'; }

div#footer #ftr #footer-menu > div:first-child > div:first-child, div#footer #ftr #footer-menu > div:first-child > div:nth-child(2) {width: 100%;max-width: 354px;display: inline-block;}
div#footer #ftr #footer-menu > div:first-child > div:nth-child(2) {max-width: 198px;margin-left: 68px;}

div#footer #ftr #footer-menu > div:first-child > div:nth-child(2) + * {
    text-align: center;
}

div#footer #ftr #footer-menu div:first-child div:first-child div:first-child, div#footer #ftr #footer-menu div:first-child div:nth-child(2) div:first-child, div#footer #ftr #footer-menu > div:nth-child(2) > div:first-child {padding-left: 1px;padding-bottom: 26px;border-bottom: #252422 1px solid;margin-bottom: 28px;}

div#footer #ftr #footer-menu > div:nth-child(2) > div:first-child {
    margin-bottom: 25px;
}

.title {}

div#footer #ftr #footer-menu li a,
div#footer #ftr #footer-menu li a:link,
div#footer #ftr #footer-menu li a:visited,
div#footer #ftr #footer-menu li a:hover,
div#footer #ftr #footer-menu li a:active,
div#footer #ftr #footer-menu li a:focus {color: #898886; text-decoration: none;}

div#footer #ftr #footer-menu > div:first-child > p{text-transform: uppercase;color: #645d6f;font-size: 2.08333em;font-family: 'Oswald';margin-top: 18px;}

div#footer #ftr #footer-menu > div:nth-child(2){display: inline-block;width: 26.293558%;margin-left: 64px;max-width: 249px;}

div#footer #ftr #footer-menu > div:first-child > div:first-child > div:nth-child(2) li ul li, div#footer #ftr #footer-menu > div:first-child > div:nth-child(2) > div:nth-child(2) li ul li { margin-bottom: 13px;}
div#footer #ftr #footer-menu > div:first-child > div:first-child > div:nth-child(2) li:last-child, div#footer #ftr #footer-menu > div:first-child > div:nth-child(2) > div:nth-child(2) li ul li:last-child {margin-bottom: 0;}
div#footer #ftr #footer-menu > div:first-child > div:first-child div:nth-child(2) .fotmenu {display: inline-block;width: 100px;}

div#footer #ftr #footer-menu > div:first-child > div:first-child div:nth-child(2) .fotmenu + .fotmenu { width: auto;margin-left: 40px;}


div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li {margin-bottom: 5px;}
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li:last-child {margin-bottom: 0;}

div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li a, 
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li a:link,
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li a:visited,
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li a:hover,
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li a:active,
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li a:focus {font-size: 2.5em;font-family: 'Oswald';color: #252422;}


div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li#footer008{ margin-bottom: 29px;}
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li#footer008 + li, div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li#footer008 + li + li{position: relative;text-align: center;display: inline-block;}

div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li#footer008 + li {
    margin-bottom: 6px;
}
div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li#footer008 + li a, div#footer #ftr #footer-menu > div:nth-child(2) > div:nth-child(2) > ul >li#footer008 + li + li a{ display: inline-block; background-color: #645d6f; color: #ffffff; font-size: 1.5em; font-family: 'Open Sans';
 text-decoration: none; width: 220px; float: left; margin-left: 2px; padding-top: 12px; padding-bottom: 11px; letter-spacing: 0.8pt;}

div#footer #ftr + p {}

/* THE ASIDE */
aside{width: 239px; border: 2px solid #c5c7c6; display: inline-flex; flex-direction: column; float: left;}